* {
    margin: 0;
    padding: 0;
}

body {
    background: var(--space-cadet-dark);
}

.card-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: .75vw;
    padding: .75vw;
}

.title-2 {
    font-size: 2rem;
    text-align: center;
    font-family: var(--font-family-primary);
    color: var(--aureolin-light);
    padding: 2rem;
}

.title-3 {
    font-size: 1.85rem;
    text-align: center;
    font-family: var(--font-family-primary-italic);
    color: var(--aureolin-dark);
    padding: 2rem;
}

p {
    color: white;
}

.primary-text {
    font-family: var(--font-family-primary);
}

.primary-text-italic {
    font-family: var(--font-family-primary-italic);
}

.primary-text-bold {
    font-family: var(--font-family-primary-bold);
}

.secondary-text {
    font-family: var(--font-family-secondary);
}

.secondary-text-bold {
    font-family: var(--font-family-secondary-bold);
}

.secondary-text-italic {
    font-family: var(--font-family-secondary-italic);
}

.brand-name-text {
    font-family: var(--font-family-brand-name);
}