@font-face {
  font-family: 'LexandDecaf';
  src: url(./UI/Fonts/LexendDecat.ttf);
}

@font-face {
  font-family: 'NotoSans-Italic';
  src: url(./UI/Fonts/NotoSans-Italict.ttf);
}

@font-face {
  font-family: 'NotoSans-Bold';
  src: url(./UI/Fonts/NotoSans-Bold.ttf);
}

@font-face {
  font-family: 'NotoSans';
  src: url(./UI/Fonts/NotoSans.ttf);
}

@font-face {
  font-family: 'SansationBold';
  src: url(./UI/Fonts/Sansation-Bold.ttf);
}

@font-face {
  font-family: 'SansationItalic';
  src: url(./UI/Fonts/Sansation-Italic.ttf);
}


@font-face {
  font-family: 'SansationRegular';
  src: url(./UI/Fonts/Sansation-Regular.ttf);
}

:root {
  --space-cadet: #2b2d42ff;
  --cyclamen: #e86a92ff;
  --aureolin: #f7e733ff;
  --seasalt: #f7f7f9ff;
  --turquoise: #41e2baff;

  --space-cadet-light: #555768ff;
  --cyclamen-light: #f09cbaff;
  --aureolin-light: #f9ef77ff;
  --seasalt-light: #ffffff;
  --turquoise-light: #81edceff;

  --space-cadet-dark: #151621ff;
  --cyclamen-dark: #b84c6fff;
  --aureolin-dark: #dcb91cff;
  --seasalt-dark: #c4c4c6ff;
  --turquoise-dark: #2dafa0ff;

  /** Fonts **/

  --font-family-primary: "NotoSans", sans-serif;
  --font-family-primary-italic: "NotoSans-Italic", sans-serif;
  --font-family-primary-bold: "NotoSans-Bold", sans-serif;
  --font-family-secondary: "SansationRegular", sans-serif;
  --font-family-secondary-bold: "SensationBold", sans-serif;
  --font-family-secondary-italic: "SensationItalic", sans-serif;
  --font-family-brand-name: "SansationRegular", sans-serif;
}